:root{
	--primaire: #1a1a1a;
	--secondaire: #2191FB;
	--tertiaire: #CBEEF3;
	--erreur: #FF1053;
	--texte: #FFFFFF;
	--sombre: #1F1F1F;
	/* RGBA */
	--rgba-primaire-80: rgba(26,26,26,80);
	--rgba-primaire-60: rgba(26,26,26,60);
	--rgba-secondaire-80: rgba(33,145,251,80);
	--rgba-secondaire-60: rgba(33,145,251,60);
	--rgba-tertiaire-80: rgba(203,238,243,80);
	--rgba-tertiaire-60: rgba(203,238,243,60);
	--rgba-sombre-80: rgba(31,31,31,80);
	--rgba-sombre-60: rgba(31,31,31,60);
}