.bordure {border:2px solid var(--primaire);border-radius:8px;}
.bordure.secondaire{border-color:var(--secondaire);}
.bordure.erreur{border-color:var(--erreur);}
.bordure.tertiaire{border-color:var(--tertiaire);}